{{page-title "Companies"}}
<h1>Companies</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Show Detail Action</th>
            <th scope="col">Edit Action</th>
            <th scope="col">Delete Action</th>
        </tr>
  </thead>
  <tbody>
        {{#each this.model.content as |company| }}
            <CompanyRow @company={{company}} @showButtonClicked ={{this.showButtonClicked}} @deleteButtonClicked= {{this.deleteButtonClicked}} @editButtonClicked={{this.editButtonClicked}}/>
        {{/each}}
  </tbody>
  
</table>
<h1>Add New Company</h1>
<label>name</label>
{{input type="name" value=name}}
<button type="button" id='addButton' {{on 'click' (fn this.addButtonClicked this)}}>add company</button>
{{outlet}}