{{page-title "EditCompany"}}
{{outlet}}
<h1>Edit Company {{this.model.name}}</h1>
{{input type="name" value=this.model.name}}
<button type="button" {{on 'click' (fn this.editButtonClicked @this.model)}}>edit action</button>